*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../imagenes/fondo.png) no-repeat center top;
    background-size:cover;
}

.container{
    border:solid 1px rgba(255,255,255,0.2);
    background-color: white;
}

table{
    color:#000;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    background: rgba(14, 177, 226, 0.4);
}

th{
    padding:20px ;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding:15px;
    border-bottom: solid 1px rgba(17, 17, 17, 0.2);
}

tbody tr{
    cursor:pointer;
}

tbody tr:hover{
    background: rgba(5, 203, 238, 0.4);
}